.primary-link-btn {
  @extend .font-normal;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    color: var(--colors-primary);
    @extend .font-bold;
    display: inline-block;
    position: relative;
    transition: color 0.2s ease-out;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 2px;
      background: var(--colors-primary);
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      background: var(--colors-secondary);
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &:hover {
      color: var(--colors-secondary);
    }
  }
}
