:root {
  --screen-2xs: 370px;
  --screen-sm: 600px;
  --screen-base: 768px;
  --screen-xs: 480px;
  --screen-md: 900px;
  --screen-lg: 1024px;
  --screen-xl: 1200px;
}

@import "system/_resets";
@import "system/_text";
@import "system/_colors";
@import "system/_mixins";

html {
  font-size: 16px;
  @extend %font-lato;
  background: var(--colors-background);
  scroll-behavior: smooth;
}
