:root {
  --screen-2xs: 370px;
  --screen-sm: 600px;
  --screen-base: 768px;
  --screen-xs: 480px;
  --screen-md: 900px;
  --screen-lg: 1024px;
  --screen-xl: 1200px;
}

@import "system/_resets";
@import "system/_text";
@import "system/_colors";
@import "system/_mixins";

html {
  font-size: 16px;
  @extend %font-lato;
  background: var(--colors-background);
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.85s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  visibility: visible;
  animation-play-state: running;
}

@keyframes fade-in {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
