.transitionBlur {
  background: rgb(10, 1, 20);
  filter: blur(20px);
  height: 1.25rem;
  width: 160%;
  position: absolute;
  left: -50px;
  top: 12px;
  box-shadow: 0 0 20px 80px rgb(10, 1, 20);
  z-index: 5;
}

.main {
  position: relative;
  min-height: 20rem;
  color: var(--colors-white);
  padding-top: 5rem;
  background: linear-gradient(
    180deg,
    rgba(8, 0, 18, 1) 0%,
    var(--colors-background) 10%,
    var(--colors-background) 100%
  );

  .sectionTitle {
    margin: 5rem 2rem 7rem 2rem;
    opacity: 0;

    h3.title {
      font-size: $text-4xl;
      @extend .font-bold;
      margin-bottom: 2.5rem;
    }

    p.description {
      font-size: $text-xl;
      @extend .font-thin;
      letter-spacing: 0.5px;
      margin-bottom: 1.25rem;

      a {
        @include btn-hover-underline(
          var(--colors-primary),
          var(--colors-secondary)
        );
      }
    }

    @media (max-width: 768px) {
      h3.title {
        font-size: $text-3xl;
        line-height: 37px;
      }

      p.description {
        font-size: $text-md;
      }
    }
  }

  .showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .showcaseItem {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--colors-background);
      transition: all 0.2s ease-out;
      border-bottom: 5px solid;
      border-image: linear-gradient(
          90deg,
          var(--colors-primary-variant) 0%,
          var(--colors-primary) 20%,
          #c090fa 50%,
          var(--colors-primary) 80%,
          var(--colors-primary-variant) 100%
        )
        5;

      a.imageLink {
        overflow: hidden;
        box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.4);
        height: 100%;
        width: 100%;
        position: relative;
        aspect-ratio: 16 / 9;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: left;
          transition: transform 0.45s ease-out;
          transition-delay: 0.25s;
        }

        &:hover img {
          transform: scale(1.02);
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            to left,
            rgba(38, 38, 38, 0.5) 0%,
            rgba(38, 38, 38, 0.25) 15%,
            rgba(38, 38, 38, 0.1) 50%,
            rgba(38, 38, 38, 0.25) 85%,
            rgba(38, 38, 38, 0.5) 100%
          );
        }
      }

      &:nth-child(odd) {
        border-right: 5px solid var(--colors-primary);
      }

      &:nth-child(-n + 2) {
        border-top: 5px solid var(--colors-primary);
        border-bottom: 5px solid var(--colors-primary);
      }

      .itemContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1.25rem 1.25rem 1.5rem 1.25rem;
        background: rgba(255, 255, 255, 0.04);

        .contentText {
          margin-bottom: 1rem;

          a {
            font-size: $text-xl;
            @include btn-hover-underline(
              var(--colors-white),
              var(--colors-primary)
            );
          }

          p {
            font-size: $text-sm;
            @extend .font-thin;
            font-style: italic;
            margin-top: 0.2rem;
          }
        }

        .links {
          display: flex;
          justify-content: flex-end;
          position: relative;

          a {
            @include btn-border-drawing(
              var(--colors-white),
              var(--colors-secondary),
              3px,
              bottom,
              left
            );

            &:not(:last-child) {
              margin-right: 1rem;
            }
          }
        }
      }
    }

    @media (max-width: 900px) {
      .showcaseItem {
        .itemContent {
          padding: 1rem;

          .contentText {
            a {
              font-size: $text-md;
            }

            p {
              margin: 0;
              font-size: $text-xs;
            }
          }

          .links {
            a {
              font-size: $text-xs;
              @include btn-border-drawing(
                var(--colors-white),
                var(--colors-secondary),
                2px,
                bottom,
                left
              );
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;

      .showcaseItem {
        border-bottom: 5px solid var(--colors-primary);

        &:nth-child(odd) {
          border-right: none;
        }

        &:first-child {
          border-bottom: none;
        }
      }
    }
  }
}

.closing {
  width: 100%;
  text-align: center;
  color: var(--colors-white);
  margin: 3rem 0.25rem;
  font-size: $text-2xl;

  a {
    @include btn-hover-underline(
      var(--colors-primary),
      var(--colors-secondary)
    );
  }

  @media (max-width: 768px) {
    font-size: $text-lg;
  }

  @media (max-width: 400px) {
    font-size: $text-md;
  }
}
