.transitionBlur {
  background: rgb(8, 0, 12);
  filter: blur(20px);
  height: 3rem;
  width: 160%;
  position: absolute;
  left: -50px;
  top: -5%;
}

.main {
  position: relative;
  min-height: 20rem;
  background: rgb(8, 0, 14);
  color: var(--colors-white);
  padding-top: 8rem;

  .sectionTitle {
    padding: 0 3rem;

    h3.title {
      font-size: $text-3xl;
      @extend .font-bold;
    }

    p.description {
      font-size: $text-lg;
      @extend .font-normal;
      margin-bottom: 2rem;

      a {
        text-decoration: none;
        color: var(--colors-primary);
        @extend .font-bold;
        display: inline-block;
        position: relative;
        transition: color 0.2s ease-out;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 2px;
          width: 100%;
          height: 2px;
          background: var(--colors-primary);
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        &:hover::after {
          background: var(--colors-secondary);
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        &:hover {
          color: var(--colors-secondary);
        }
      }
    }
  }

  .showcase {
  }
}
