@keyframes pan-image {
  0% {
    background-position: 25% 42%;
    background-size: 200%;
  }

  20% {
    background-position: 25% 55%;
    background-size: 200%;
  }

  50% {
    background-position: 50% 20%;
    background-size: 200%;
    background-image: url("../../public/assets/landing3.jpg");
  }

  80% {
    background-position: 45% 40%;
    background-size: 250%;
    background-image: url("../../public/assets/landing4.jpg");
  }

  92% {
    background-position: 35% 50%;
    background-size: 250%;
  }

  100% {
    background-position: 25% 42%;
    background-size: 200%;
  }
}

.header {
  position: relative;
  color: var(--colors-white);
  text-align: center;
  height: 100vh;
  overflow: hidden;

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
  }

  .landingImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    z-index: -2;
    background-image: url("../../public/assets/landing1.jpg");
    background-size: 300%;
    background-position: 0% 0%;
    opacity: 0.6;
    animation: pan-image 20s linear infinite;

    @media (max-width: 768px) {
      animation: pan-image 16s linear infinite;
      background-image: url("../../public/assets/landing4.jpg");
    }
  }

  nav {
    padding: 2.75rem 2rem 0 2rem;
    display: flex;
    justify-content: flex-start;

    .navLink {
      color: var(--colors-white);
      font-size: $text-2xl;
      @extend .font-bold;
      text-decoration: none;
      display: flex;
      align-items: center;
      position: relative;
      transition: color 0.75s ease-in-out;

      span.initials {
        display: block;
        transition: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1),
          opacity 0.5s ease-in;
        position: absolute;
        left: 29px;
        top: 0;
      }

      span.transition {
        transform: translateX(-100px);
        transition: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1),
          opacity 0.5s ease-in, color 0.75s ease-in-out;
        opacity: 0;
      }

      &:hover {
        span.initials {
          transform: translateX(80px);
        }

        span.transition {
          opacity: 1;
          color: var(--colors-white);

          &:first-child {
            transform: translateX(0px);
          }

          &:last-child {
            transform: translateX(34px);
          }
        }
      }
    }
  }

  .landingTextContainer {
    margin: 1rem 2rem;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .firstLine,
    .secondLine {
      display: flex;
      flex-wrap: wrap;

      .textWord {
        display: flex;
        margin-right: 0.75rem;
      }

      div {
        transition: transform 0.25s ease-in-out, color 0.25s ease-in-out,
          opacity 0.25s ease-in-out;
        transition-delay: 0.09s;
      }
    }

    h1 {
      font-size: $text-3xl;
      @extend .font-normal;
      line-height: 38.5px;
      margin-bottom: 2rem;
      text-align: left;
      display: flex;
      flex-direction: column;
    }

    h2 {
      font-size: $text-xl;
      @extend .font-normal;
      text-align: left;
    }

    @media (min-width: 768px) {
      height: 69.69%;

      h1 {
        font-size: 60px;
        line-height: 66px;
      }

      h2 {
        font-size: 30px;
        line-height: 33px;
      }
    }

    @media (min-width: 1024px) {
      margin: 2rem 5rem;
      position: relative;

      h1 {
        font-size: 80px;
        line-height: 88px;
        margin-top: -2rem;
      }

      h2 {
        position: absolute;
        bottom: 15%;
      }
    }

    @media (min-width: 1200px) {
      margin: 2rem 8rem;

      h1 {
        font-size: 100px;
        line-height: 110px;
      }

      h2 {
        font-size: 35px;
        line-height: 39px;
      }
    }
  }

  .scrollNext {
    position: absolute;
    bottom: 6rem;
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 2;

    &:hover {
      animation: bounce 1.25s infinite;
    }

    @keyframes bounce {
      0% {
        transform: translate(-50%, 0);
      }
      80% {
        transform: translate(-50%, -7px);
      }
      100% {
        transform: translate(-50%, 0);
      }
    }

    svg path {
      fill: var(--colors-primary);
    }

    @media (max-width: 768px) {
      bottom: 10rem;
    }
  }
}
