:root {
  --colors-primary: #bb86fc;
  --colors-primary-variant: #3700b3;
  --colors-secondary: #03dac6;

  --colors-background: #121212;
  --colors-error-red: #cf6679;

  --colors-white: #ffffff;
  --colors-black: #000000;
}
